* {
  margin: 0;
  padding: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #E4E5EA;
}

a {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
  color: white;
}

body {
  background-color: #0E1014;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  min-width: 1440px;
  overflow: hidden;
}

.container {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  width: 100%;
  height: 100%;
  min-height: 100vh;
  min-width: 1200px;
  min-height: 100%;
  height: 100%;
  max-width: 1440px;
}

.wrapper {
  position: relative;
  width: 1140px;
  height: content;
}

header {
  position: relative;
  height: 73px;
  width: 100%;
  margin-top: 46px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
}
header .header__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 165px;
  height: 100%;
}
header .header__logo .header__imgLogo {
  margin-top: 11px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
header .header__logo .logo-2 {
  padding-left: 8.12px;
}
header .header__logo p {
  font-family: "Montserrat", sans-serif;
  padding-top: 10px;
  font-size: 10px;
  font-weight: 300;
  font-style: normal;
  line-height: 12px;
  color: #E4E5EA;
}
header .abs {
  display: none;
  position: absolute;
  left: 192px;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
}
header .header__nav {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 503px;
  height: 19px;
  margin-left: 27px;
  margin-top: 15px;
}
header .header__nav a {
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #E4E5EA;
  text-decoration: none;
}
header .header__nav a:hover {
  text-decoration: underline;
  color: white;
}
header .header__contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: content;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  padding-top: 15px;
  margin-left: 137px;
  width: 143px;
}
header .header__contacts a {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #E4E5EA;
}
header .header_contactLogos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  right: 0px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  width: content;
  height: 100%;
  margin-left: 20px;
  padding-top: 17.01px;
}
header .header_contactLogos a {
  padding-left: 34px;
}

.main {
  padding-top: 90px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  width: 100%;
}
.main .main__left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  width: 362px;
  height: 338px;
  border-radius: 1px solid black;
}
.main .main__left p:first-child {
  width: 100%;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  line-height: 58px;
  color: #E4E5EA;
}
.main .main__left p:nth-child(2) {
  font-family: "Inter";
  font-style: normal;
  font-weight: 900;
  font-size: 48px;
  line-height: 58px;
  background: linear-gradient(92deg, #FCB045 27.14%, #FF3F78 121.36%), #E4E5EA;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  width: 247px;
  height: 58px;
}
.main .main__left p:nth-child(3) {
  padding-top: 30px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  /* light text */
  color: #E4E5EA;
}
.main .main__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: right;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  width: 291px;
  height: content;
  padding-top: 15px;
}
.main .main__right p {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  text-align: right;
  color: #E4E5EA;
}
.main .main__right p span {
  background: -webkit-gradient(linear, left top, right top, color-stop(36.99%, #FCB045), to(#FD1D1D)), -webkit-gradient(linear, left bottom, left top, from(#E4E5EA), to(#E4E5EA));
  background: linear-gradient(90deg, #FCB045 36.99%, #FD1D1D 100%), linear-gradient(0deg, #E4E5EA, #E4E5EA);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  letter-spacing: 1px;
}
.main .main__right .grid {
  display: -ms-grid;
  display: grid;
  gap: 30px 30px;
  padding-top: 40px;
  -ms-grid-columns: 164px 30px 164px;
  grid-template-columns: repeat(2, 164px);
  -ms-grid-rows: 62px 30px 62px;
  grid-template-rows: repeat(2, 62px);
  color: #E4E5EA;
}
.main .main__right .grid > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}
.main .main__right .grid > *:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
}
.main .main__right .grid > *:nth-child(3) {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
}
.main .main__right .grid > *:nth-child(4) {
  -ms-grid-row: 3;
  -ms-grid-column: 3;
}
.main .main__right .grid h3 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  /* identical to box height */
  text-align: right;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  /* light text */
  color: #E4E5EA;
}
.main .main__right .grid p {
  opacity: 80%;
  padding-top: 6px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-align: right;
  color: #E4E5EA;
}
.main .main__right button {
  display: block;
  margin-top: 82px;
  width: 262px;
  height: 61px;
  background-color: #4077F3;
  color: #E4E5EA;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
}
.main .main__right button:hover {
  cursor: pointer;
  border: 0.3px solid white;
  color: white;
}

footer {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  /* light text */
  color: #E4E5EA;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  width: 100%;
  height: 200px;
  margin-top: 69px;
  padding-top: 55px;
}
footer img:hover {
  -webkit-filter: sepia(100%);
          filter: sepia(100%);
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
  -webkit-transition: all ease-in-out 0.3s;
  transition: all ease-in-out 0.3s;
}
footer h3 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #656566;
}
footer nav {
  padding-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
footer nav a {
  padding-top: 10px;
}
footer nav a:first-child {
  padding-top: 0px;
}
footer div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
}
footer div:nth-child(2) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
footer div:nth-child(2) .secgrid {
  padding-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  -ms-flex-direction: row;
      flex-direction: row;
}
footer div:nth-child(2) .secgrid a {
  padding-top: 10px;
}
footer div:nth-child(2) .secgrid a:first-child {
  padding-top: 0px;
}
footer div:nth-child(2) .secgrid div:nth-child(2) {
  padding-left: 52px;
}
footer div:nth-child(3) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
  text-align: right;
}
footer div:nth-child(3) h3 {
  text-align: right;
}
footer div:nth-child(3) .footer__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-item-align: end;
      align-self: flex-end;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 78.33px;
}
footer div:nth-child(3) .footer__logo a {
  padding-top: 22px;
}
footer div:nth-child(3) .footer__logo a img {
  width: 100%;
  height: 100%;
}
footer div:nth-child(3) .way {
  padding-top: 20px;
}
footer div:nth-child(3) .copyright {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 70px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  /* identical to box height */
  text-align: right;
  /* light text */
  color: #E4E5EA;
}
footer div:nth-child(3) .copyright a {
  padding-top: 5px;
  text-decoration: underline;
}

.ball_one {
  position: absolute;
  width: 60px;
  height: 60px;
  left: 868px;
  top: -2px;
  background: radial-gradient(64% 64% at 27.25% 26.5%, rgba(236, 208, 255, 0.64) 0%, rgba(161, 93, 207, 0.24) 59.67%, rgba(118, 49, 164, 0.208) 78.59%, rgba(86, 24, 128, 0.232) 100%);
  -webkit-box-shadow: 3px 6px 27px -10px rgba(177, 118, 217, 0.25);
          box-shadow: 3px 6px 27px -10px rgba(177, 118, 217, 0.25);
  -webkit-filter: blur(5px);
          filter: blur(5px);
  -webkit-backdrop-filter: blur(2px);
  backdrop-filter: blur(2px);
  z-index: 0;
}

.ball_two {
  position: absolute;
  width: 83px;
  height: 83px;
  left: 519px;
  top: 83px;
  -webkit-backdrop-filter: blur(2px);
  backdrop-filter: blur(2px);
  z-index: 0;
}

.ball_three {
  position: absolute;
  width: 28px;
  height: 28px;
  left: 851px;
  top: 547px;
  -webkit-transform: scale(2);
          transform: scale(2);
  -webkit-backdrop-filter: blur(2px);
  backdrop-filter: blur(2px);
  z-index: 0;
}

.ball_five {
  position: absolute;
  width: 259px;
  height: 259px;
  left: 602px;
  top: -154px;
  background: #833AB4;
  opacity: 0.5;
  -webkit-filter: blur(196px);
          filter: blur(196px);
}

.ball_four {
  position: absolute;
  width: 311px;
  height: 311px;
  left: -102px;
  top: 251px;
  background: #961A1A;
  opacity: 0.5;
  -webkit-filter: blur(196px);
          filter: blur(196px);
  z-index: 0;
}